form {
    margin-left: 5px;
}

table {
    margin-top: 25px;
}

.header {
    margin-top: 5px;
}

h2 {
    margin-left: 4px;
}

#validationFailed {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    form {
        margin-left: 10px;
    }
}